<h2 id='title'>Welcome to Ember.js</h2>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'protected'}}Protected Page{{/link-to}}
{{#link-to 'posts'}}Posts{{/link-to}}

{{#if session.isAuthenticated}}
  <a id="logout" {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

{{outlet}}
